<div class="container">
    <h1> Employee Details</h1>
    <div class="card">
        <div class="info">
            <img src="../../../assets/avatar-svgrepo-com.svg" alt="John" style="width:50%">
            <h3 class="full name">{{employee.firstName}} {{employee.lastName}}</h3>
            <h5 class="position">{{employee.position}}</h5>
            <p class="emailId">{{employee.emailId}}</p>
        </div>
        <div class="actions">
            <button (click)="backToList()" class="btn btn-primary"> Back to List</button>
            <button (click)="updateEmployee(employee.id)" class="btn btn-primary"> Update</button>
        </div>
    </div>
</div>